# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# macOS system files
.DS_Store

# IntelliJ config
.idea/
course-graph.iml
course-graph-server/course-graph-server.iml
course-graph-front/course-graph-front.iml

# Maven target
course-graph-server/target/

# Eclipse config
course-graph-server/.settings/
course-graph-server/.classpath
course-graph-server/.project

# NPM
course-graph-front/package-lock.json
course-graph-front/node_modules/