<main role="main">
  <div class="jumbotron" style="text-align:center">
    <div class="container">
      <h2>课程列表</h2>
      <p>Hi，下列是你的课程列表</p>
      <button *ngIf="curUser.type == 'TEACHER'" type="button" class="btn btn-primary" (click)="openAddCourseWindow(addCourseTemplate)">添加课程</button>
      <button *ngIf="curUser.type == 'STUDENT'" type="button" class="btn btn-primary" (click)="openChooseCourseWindow(chooseCourseTemplate)">选课</button>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let course of myCourses; let i = index" class="card box-shadow">
      <div class="card-header">
        <h2 class="my-0 font-weight-normal">{{course.code}} {{course.name}}</h2>
      </div>
      <div class="card-body">
        <p class="card-title pricing-card-title">教师：{{course.teacher_name}}</p>
        <p class="card-title pricing-card-title">课程人数：{{course.student_num}}</p>
        <a class="card-link" [routerLink]="['/course']"  [queryParams]="{cid:course.id}">进入课程 &raquo;</a>
      </div>
    </div>
  </div>

</main>

<ng-template #addCourseTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">新课程</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="form.form.valid && confirmAddCourse()" #form="ngForm">
    <input type="text" id="courseName" name="courseName" [(ngModel)]="newCourse.name" class="form-control" placeholder="课程名称" required autofocus>
    <br>
    <input type="text" id="courseID" name="courseCode" [(ngModel)]="newCourse.code" class="form-control" placeholder="课程代码" required>
    <br>
    <input type="button" class="btn btn-default" popover="Vivamus sagittis" value="取消" (click)="cancelAddCourse()">
    <input type="submit" class="btn btn-primary" tooltip="Vivamus sagittis" value="确认" style="margin-left: 10px">
    </form>
  </div>
</ng-template>

<ng-template #chooseCourseTemplate>
  <div class="modal-header">
    <h4 class="modal-title">可选课程</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let course of choosableCourses; let i = index">
      <p> {{course.code}} {{course.name}}
        <button class="btn btn-primary pull-right" (click)="openInputCourseCodeWindow(inputCourseCodeTemplate, course.id)">选课</button>
      </p>
    </div>
  </div>
</ng-template>

<ng-template #inputCourseCodeTemplate>
<div class="modal-header">
  <h4 class="modal-title">输入课程代码</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="form.form.valid && chooseCourse()" #form="ngForm">
        <input type="text" name="code" [(ngModel)]="choosenCourse.code" class="form-control" placeholder="课程代码" required autofocus>
        <br>
        <input type="submit" name="confirm" class="btn btn-primary pull-right" value="选课">
    </form>
</div>
</ng-template>