.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card {
    width: 20rem;
    margin: 10px;
}

.row {
    text-align: center;
    padding-left: 13%;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}