<div *ngFor="let q of questionsWithStatus; let i = index" class="row justify-content-center">

  <div *ngIf="q.questionType=='MULTIPLE_CHOICE'" class="card box-shadow" style="width: 45rem; margin: 10px;">
    <div class="card-header">
      <h2>{{i+1}}. {{q.description}}</h2>
    </div>
    <div class="card-body">
      <form class="form-ans" (ngSubmit)="form.form.valid && answerQuestion(q)" #form="ngForm">
        <div *ngFor="let op of q.choices; let j=index">
          <input *ngIf="curUser.type=='STUDENT' && q.answered=='false'" type="radio" name="radiobox" (change)="setAnswer(q, op.key)">{{op.key}}. {{op.value}}
        </div>
        <div *ngIf="curUser.type=='STUDENT'">
          <input *ngIf=" q.answered=='false'" type="submit" name="confirm" class="btn btn-primary" value="回答">
          <input *ngIf=" q.answered=='true'" type="button" name="confirmed" class="btn btn-primary" disabled value="已回答: {{q.answer}}">
        </div>

      </form>
    </div>
    <div *ngIf="curUser.type=='TEACHER'" class="card-footer">
      正确率：
    </div>

  </div>

  <div *ngIf="q.questionType=='SHORT_ANSWER'" class="card box-shadow" style="width: 45rem; margin: 10px;">
    <div class="card-header">
      <h2>{{i+1}}. {{q.description}}</h2>
    </div>
    <div class="card-body">
      <form *ngIf="userType=='STUDENT' && q.answered=='false'" class="form-ans" (ngSubmit)="form.form.valid && answerQuestion(q)"
        #form="ngForm">
        <textarea rows="6" cols="63" required name="answer" [(ngModel)]="q.answer"></textarea>
        <br>
        <input type="submit" name="confirm" class="btn btn-primary" value="回答">
      </form>
      <div *ngIf="curUser.type == 'STUDENT' && q.answered == 'true'">
        <p>{{q.answer}}</p>
        <input type="button" name="confirmed" class="btn btn-primary" disabled value="已回答">
      </div>
    </div>
  </div>

</div>