<app-header></app-header>


<body class="text-center">
<form class="form-signin" (ngSubmit)="form.form.valid && login()" #form="ngForm">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel"
           (ngModelChange)="checkMail($event)" placeholder="邮箱" required
           autofocus>
    <div *ngIf="!mailAllowed; else elseBlock" class="alert alert-warning">
        <!--<div *ngIf="form.submitted && !email.valid; else elseBlock" class="alert alert-warning">-->
        <strong>邮箱格式不正确!</strong>
    </div>
    <ng-template #elseBlock>
        <br>
    </ng-template>
    <input style="margin: 0" type="password" class="form-control" [(ngModel)]="user.password"
           (ngModelChange)="checkPwd($event)" name="password" #password="ngModel"
           placeholder="密码" required>
    <div *ngIf="!pwdAllowed;else elseBlock" class="alert alert-warning" style="height: 60px">
        <!--<div *ngIf="form.submitted && !pwdAllowed && !password.valid;else elseBlock" class="alert alert-warning" style="height: 60px">-->
        <strong style="font-size: 10px">密码需包含大、小写字母、数字、特殊字符（@#$%^&+=），且长度不小于8位</strong>
    </div>
    <!-- <input type="radio" name="usertype" id="teacher" checked="true" (click)="setTypeTec()">教师
    <input type="radio" name="usertype" id="student" (click)="setTypeStu()">学生
    <br> -->
    <!-- <br> -->
    <input [disabled]="!mailAllowed && !pwdAllowed" class="btn btn-lg btn-primary btn-block" type="submit" value="登录">

    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>

</body>
